# Developers:
# First name: Tal, Dor, Yamit
# Last name: Lilo, Mizrahi, Segev
# ID:   206361321 , 315429175 , 206776486

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?